# <%= config[:gem_name] %>

TODO: Add a description of the plugin, and fill out the sections below.

## Installation

## Configuration

## Usage

## License

[MIT](http://opensource.org/licenses/MIT)
